Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-Caching==2.1.0
Flask-Cors==4.0.0
Flask-JWT-Extended==4.5.2
Flask-PyMongo==2.3.0
Flask-Session==0.5.0
Flask-SQLAlchemy==3.0.5
requests-html
pandas-ta==0.3.14b0
numpy
scikit-learn
ccxt==4.1.10
scipy==1.10.0
beautifulsoup4
save-thread-result